{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": ["eslint:recommended", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-no-undef": 1, // Disallow use of undefined components
    "react/no-direct-mutation-state": 1, // Prevent direct mutation of state
    "no-undef": 1, // Disallow use of undefined variables
    "no-var": 1, // Require the use of let or const instead of var (ES6)
    "no-console": 1,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "import/no-named-as-default": 0
  },
  "plugins": ["react", "flowtype", "import"]
}